@import url('https://fonts.googleapis.com/css?family=Inconsolata:400|Montserrat:400');

body {
    background-color: black;
}

h1 {
    color: rgb(149, 149, 184);
    font-family: Inconsolata, sans-serif;
}

