<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/base.css">
    <title>finTech App</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/add_btn.ejs') %>
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <h1>Stories</h1>
                    <div class="row">
                        <% if (stories.length > 0) { %>
                            <% stories.forEach(story => { %>
                                <div class="col s12 m4">
                                    <div class="card">
                                        <div class="card-content center-align">
                                            <h5><%= story.title %></h5>
                                            <p><%= story.body %></p>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        <% } else { %>
                        <p>No stories to display</p>
                        <% } %>
                    </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/frontend.js"></script>
</body>

</html> 